        body {
            margin: 0;
            padding: 0;
        }

        a {
            text-decoration: none;
            color: var(--color1);
            transition: 500ms color linear;
        }

        a:hover {
            color: var(--color3);
        }

        strong {
            color: var(--color2)
        }

        :root {
            --color1: hsl(135deg, 100%, 60%);
            --color2: #0190a1;
            --color3: #ff677b;
            --color4: #fde097;
        }

        body {
            background: #000;
            font-family:'Courier New', Courier, monospace;
            font-size: 1.2em;
        }

        header {
            background: #fff;
            margin-bottom: 3%;
            font-size: 0.8em;
            text-align: center;
            background-color: var(--color2);
        }
        header strong {
            color: var(--color1);
        }

        h1 {
            color: var(--color1);
            margin-top: 1%;
            max-width: device-width;
            font-size: 2em;
        }

        .flex-container {
            display: flex;
            flex-direction: column;
            align-items:center;
        }

        .img-container {
            background: #FFF;
            height: 190px;
            width: 190px;
            border-radius: 50%;
            margin-bottom: 2%;
            background-image: url(img/hum.jpeg);
            background-repeat: norepeat;
            background-size:cover;
            background-position: center;
            position: relative;
        }

        .sky {
            width: 100vw;
            height: 60px;
            background-image: url(img/sky2.png);
            background-repeat: repeat-x;
            background-size:cover;
            position: absolute;
            top: 18%;
            background-attachment:fixed;
        }

        .char-attr {
            background: #F5f5f5;
            width: 50%;
            height: auto;
            text-align: center;
            border: 3px solid var(--color2);
            border-radius: 5px;
            font-size: 1.3em;
            margin-bottom: 3%;
        }

        .my-list {
            list-style-type:none;
            padding: 0;
            width: 80%;
            margin: auto;
            padding-top: 4%;
            padding-bottom: 4%;
            font-size: 1em;
        }

        .my-list li {
            margin-top: 2%;
            color: var(--color3);
        }

        .present-text {
            background: #f5f5f5;
            width: 50%;
            height: auto;
            border: 3px solid var(--color2);
            font-size: 0.9em;
            padding: 3%;
            text-align: center;
            margin-bottom: 3%;
        }

        .present-text h2 {
            color: var(--color3);
            margin-top: 0;
        }

        footer {
            background-color: var(--color2);
            bottom: 0;
            width: 100%;
        }

        @media (max-width: 768px) {

            h1 {
                font-size: 1.3em;
            }

            .char-attr {
                width: 80%;
                margin-top: 3%;
                margin-bottom: 16%;
            }
            .present-text {
                width: 85%;
                padding: 2%;
                margin-top: 3%;
                font-size: 0.7em;
                margin-bottom: 6%;
            }

            .img-container {
                width: 150px;
                height: 150px;
                margin-top: 5%;
                margin-bottom: 6%;
            }

            .my-list li {
                font-size: 0.9em;
                margin-top: 3%;
            }
            .my-list:last-child {
                margin-bottom: 3%;
            }
            .sky {
                top: 14%;
            }
            footer {
                font-size: 0.9em;
            }
        }
